* {
  box-sizing: border-box;
}

/* Dark theme toggle  color variables*/
:root {
      --background-color-light:  #7fffd4;  /*#f4f4f4;*/
      --background-color-dark: #02020f;
      --text-color-light: #0e0202;
      --text-color-dark: #f5f6f7;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color-light);    
    color: var(--text-color-light); 
    transition: background-color 0.3s, color 0.3s;      
    font-family: Tahoma;
    font-size: 16px;
  }
  
body.dark-theme {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

  /* btn attributes */
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 5px;
  }

  button:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }

  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    border: 1px solid var(--background-color-dark);
    border-radius: 10px;
    padding: 8px;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
    border-radius: 5px;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }
  
  .inline{
    display: inline; 
  }
  
  a {
    color: inherit;
  }
  